%h1.h3.mb-3.font-weight-normal.padding-top{:style => "text-align: center"} Sign up
= simple_form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f|
  = f.error_notification
  .form-inputs
    = f.input :email, required: true, autofocus: true, input_html: { autocomplete: "email" }
    = f.input :password, required: true, hint: ("#{@minimum_password_length} characters minimum" if @minimum_password_length), input_html: { autocomplete: "new-password" }                     
    = f.input :password_confirmation, required: true, label:false, input_html: { autocomplete: "new-password" }, placeholder: 'password confirmation'
  .title
  .form-actions  
  .padding-top
  .d-grid.gap-2
    = f.button :submit, "Sign up", class: 'btn btn-primary' 
  %hr/
  = render "devise/shared/links"
