<h1>Blogs#show</h1>
<p>Find me in app/views/blogs/show.html.erb</p>

<article class="blog-card">
    <h3><%= @blog.title%></h3>
    <p><%= @blog.category.category %></p>
    <h5> <%= @blog.content %></h5>
</article>

<%= link_to "Edit", edit_blog_path(@blog.id) %>
<%= button_to "Delete", @blogs, method: :delete %>
<%= link_to "Back", blogs_path %>