<section class="vh-150  py-5 " >
  <div class="container py-5 h-100 " >
    <div class="row d-flex justify-content-center align-items-center h-100">
      <div class="col col-lg-9 col-xl-9">
        <div class="card rounded-3 ">
          <div class="card-body p-4 ">
            <h1 class="text-center my-3 pb-3">Ruby GO</h1>
            
              <article class="blog-card">
                  <h3><%= @blog.title %></h3>
                  <p><%= @blog.category.category %></p>
                  <h5> <%= @blog.content %></h5>
              </article>
            

              <div class="btn-align">
                <%= link_to "Edit", edit_blog_path(@blog.id), class: "btn btn-secondary" %>
              </div>
              <div class="btn-align">             
                <%= link_to "Back", blogs_path, class: "btn btn-primary" %>              
               </div>
               <div class="btn-align"> 
                <%= link_to "Delete", @blogs, data:{ turbo_method: :delete, turbo_confirm: "Are you sure you want to delete #{@blog.title} post?"}, class: "btn btn-danger", method: :delete %>                 
              </div>
          </div>
        </div> 
      </div>
    </div>
  </div>
</section>