<h1>Editing todo</h1>

<%= form_with(model: @todo) do |form| %>
  <div class="form-outline">
    <%= form.text_field :name, maxlength: 50, class: "form-control text-area"%>
    
    <label class="form-label" for="form1">Edit Todo</label>
  </div>
  <div class="col-12 ">
    <%= form.submit "Edit", method: :edit, class: "btn btn-primary" %>          
  </div>
<%end%>

<br>

<div>
  <%= link_to "Show this todo", @todo %> |
  <%= link_to "Back to todos", todos_path %>
</div>
